asgiref==3.7.2
Django==5.0.2
mssql-django==1.4
mysqlclient==2.2.4
pyodbc==5.1.0
python-dotenv==1.0.1
pytz==2024.1
setuptools==68.2.2
SQLAlchemy==2.0.29
sqlparse==0.4.4
typing_extensions==4.10.0
wheel==0.41.2
